* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url();
  color: #49130c;
}

.navbar {
  min-height: 80px;
  background-color: #fbdcad;
  border-radius: 0;
}

.navbar-brand {
  padding: 0;
  height: 80px;
  background-color: #fbdcad;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 100px;
  height: auto; 
  margin-left: 25px;
}

.navbar-toggle {
  margin-top: 20px;
  padding: 9px 10px !important;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 26.5px 15px;
    line-height: 27px;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
  background-color: #e6637f;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #f2d4a7;
}

.panel {
  position: relative;
}

.box {
  position: absolute;
  bottom: 15%;
  left: 0;
  padding: 0 25px;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 15%;
  opacity: 0.6;
  text-align: left;
  transition: opacity 1s;
}

.box:hover {
  opacity: 0.9;
}

.img-thumbnail {
  border-color: #fff;
  border-width: 12px;
  width: 100%;
}

.img-circle {
  display: block;
  margin: auto;
  width: 100%;
}

.image-right {
  float: right;
  margin: 0 0 20px 20px;
  width: 200px; /* Adjust this value as needed */
  height: auto;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
}
